langchain
sentence-transformers
chainlit
llama-index
llama-cpp-python
chromadb
llama-index-llms-langchain
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
fschat[model_worker,webui]
transformers==4.37.2